{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    <div class="account-address account-address-form">
        {% block page_account_address_form_welcome %}
            <div class="account-welcome {% if feature('ADDRESS_SELECTION_REWORK') %} d-flex align-items-center {% endif %}">
                {% if feature('ADDRESS_SELECTION_REWORK') %}
                    <a
                        href="{{ path('frontend.account.address.page') }}"
                        class="account-address-back btn btn-outline-dark"
                    >
                        {% sw_icon 'arrow-left' style {size: 's'} %}
                    </a>
                {% endif %}

                {% block page_account_address_form_welcome_headline %}
                    <h1 {% if feature('ADDRESS_SELECTION_REWORK') %} class="mx-2 mb-0" {% endif %}>
                        {{ 'account.addressCreateWelcome'|trans|sw_sanitize }}
                    </h1>
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_account_address_form_main %}
            <div class="card">
                <div class="card-body">
                    {% block page_account_address_form_edit %}
                        <form
                              method="post"
                              action="{{ path('frontend.account.address.edit.save', { addressId: page.address.id }) }}"
                              data-form-validation="true"
                              data-form-submit-loader="true"
                        >
                              {# @deprecated tag:v6.7.0 - Form validation plugin will be replaced by form handler plugin. #}
                              {% if feature('ACCESSIBILITY_TWEAKS') %}data-form-handler="true"{% endif %}
                              {% if not feature('ACCESSIBILITY_TWEAKS') %}data-form-validation="true"{% endif %}>

                            {% block page_account_address_form_edit_personal %}
                                {% sw_include '@Storefront/storefront/component/address/address-personal.html.twig' with {
                                    data: page.address,
                                    prefix: 'address'
                                } %}
                            {% endblock %}

                            {% block page_account_address_form_edit_general %}
                                {% sw_include '@Storefront/storefront/component/address/address-form.html.twig' with {
                                    data: page.address,
                                    prefix: 'address',
                                    showFormCompany: true,
                                    showNoShippingPostfix: true,
                                    scopeElementSelector: '.account-address-form',
                                } %}
                            {% endblock %}

                            {% block page_account_address_required %}
                                <p class="address-required-info required-fields">
                                    {{ 'general.requiredFields'|trans|sw_sanitize }}
                                </p>
                            {% endblock %}

                            {% block page_account_address_action_buttons %}
                                <div class="address-form-actions">
                                    {% block page_account_address_action_button_send %}
                                        <button type="submit"
                                                class="address-form-submit btn btn-primary"
                                                title="{{ 'account.addressSaveChange'|trans|striptags }}">
                                            {{ 'account.addressSaveChange'|trans|sw_sanitize }}
                                        </button>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </form>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
